/* h1{
font-size: 2rem;
} */

.containerflex{
    display:flex;
     justify-content:center;
    align-items:center; 
     height:100%; 
    /* width:100%; */ 
    /* margin-top:7%;   */
    
  }
  .container1{
      display:flex;
      padding-top:50px;
      padding-left:25px;
      justify-content:center;
      align-items:center; 
      flex-direction:column;
    }
  .container1 h2{
    font-size:25px;
    padding-left:10px;
    margin-left:20px;
    margin-right:20px;
    padding-top:20px;
  }  
  
  .container1 p{
  
    padding-left:10px;
    margin-left:20px;
    margin-right:20px;
    font-size: 20px;;
  }
  
  .container2{
      border-radius:10px;
      margin-top : 10%;
      margin-bottom:10%;
      background-color: plum;
      display:flex;
      justify-content:center;
      align-items:center;
      padding:20px;
      /* vertical-align:top; */
      height:auto;
      width:50%;
      
  }
  .container2 img{
      /* display:flex;  */
      /* justify-content:center; */
      margin-top: 35px; 
      padding-left:20%;
      padding-right:25%;
      margin-bottom: 35px;; 
      max-height:100%;
      max-width:100%;
  }

  
  
  